* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: salmon;
    --secondary-color: teal;
    --third-color: rgba(180, 177, 177, 0.493);
    --font-color: white;
}

#wrapper {
    width: 60%;
    height: 40%;
    display: flex;
    border-radius: 20px;
}

.left {
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: var(--third-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


    form {
        display: flex;
        gap: 2rem;
        flex-direction: column;

        .input-field {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

            input {
                height: 3rem;
                padding-left: 1rem;
                border-radius: 5px;
                font-weight: 500;
                border: none;
                font-size: 1rem;
            }
        }
    }
}

.action-btn {
    width: 100%;
    height: inherit;

    input[type="submit"] {
        background-color: var(--secondary-color);
        padding: 0.6rem 3rem;
        border: none;
        border-radius: 5px;
        color: var(--font-color);
        font-weight: 500;
        font-size: 1.2rem;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: rgba(0, 128, 128, 0.808);
    }
}


.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .box {
        display: grid;
        place-items: center;

        #result {
            font-size: 4rem;
            font-weight: 550;
            -webkit-text-stroke: 2px;
            -webkit-text-stroke-color: white;
            background: transparent;
        }
    }
}